nav.main-navbar{
    border-bottom-width: 0;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

a {
    color: #3bbd79 !important;
}

.hero-unit {
    margin: 0 auto;
    max-width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.icon-small {
    font-size: 75%;
    padding: 0 2px 0;
}

.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #002b36;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.panel-heading img, .panel-heading h4{
    display: inline;
    vertical-align: middle;
}

.comment-meta {
    font-size: 10px;
    /*color: #999;*/
    line-height: 1.4;
}

.comment-hash {
    font-size: 10px;
    line-height: 1.4;
}

.alert.commit {
    margin-bottom: 0;
    padding: 5px;
}

.list-group-item-info {
    color: #31708f;
    background-color: #d9edf7;
}

div.login {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 11%;
    background-color: #e1e1e3;
}

img.login {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

form.login {
    width: 80%;
    margin: auto;
}

form.login > button {
    width: 100%;
}

.detailBox {
    /*width:320px;*/
    border:1px solid #bbb;
    margin: 15px 0 15px;
    /*margin:50px;*/
    max-width: 100%;
    overflow-x: hidden;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
    line-height:2.428571;
    height: 50px;
    position: relative;
}
.titleBox label{
    /*color: #999;*/
    margin:0;
    display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
    /*max-width: 100%;*/
    /*overflow-x: hidden;*/
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
    /*width: 80%;*/
    line-height: 2.0;
}
.taskDescription p {
    overflow: auto;
}
.commentList {
    padding:0;
    list-style:none;
    /*max-height:200px;*/
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-bottom:5px;
    background-color: #efefef;
    padding: 5px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.titleBox a.commenterName{
    bottom: 4px;
    position: relative;
}
.titleBox div.commentedAt{
    font-size: 8px;
    color: #979797;
    position: absolute;
    top: 55%;
    left: 45px;
    display: inline-block;
}
.detailBox div.commenterDetail{
    font-size: 8px;
    color: #979797;
    padding: 0 10px 0;
}
.commentText {
    font-size: 12px;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:10px;
    padding-left: 5px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
    background: #f4f4f4;
}

.star, .comment {
    padding: 0 10px 0;
    color: #666666 !important;
    line-height: 2.0;
    font-size: 10px;
    position: relative;
    bottom: 5px;
}

.close {
    padding: 0 10px 0;
    color: #999 !important;
    line-height: 2.0;
    font-size: 12px;
    /*position: relative;*/
    /*bottom: 5px;*/
}

.watched, .followed {
    padding: 0 3px 0;
    line-height: 2.0;
    font-size: 11px;
}

.like_users img {
    border-radius: 50%;
}


.banner {
    position: relative;
    left: 5%;
    top: 10px;
}

#navigator a {
    color: #fafafa !important;
    /*padding-left: 25px;*/
}

#navigator {
    background: #2a3644;
    margin: 0 -15px;
}

#navigator > a.login {
    width: 90%;
    /*margin-top: 5%;*/
    margin-bottom: 9px;
    position: relative;
    left: 5%;
}

#navigator > a.logout {
    width: 90%;
    /*margin-top: 5%;*/
    margin-bottom: 9px;
    position: relative;
    left: 5%;
}

#navigator > li.active > a {
    background: #2a3644;
}

#navigator img.current_user {
    vertical-align: middle;
    border-radius: 50%;
}

#navigator img.right_arrow{
    position: absolute;
    right: 5%;
    top: 25%;
}

#navigator > li > a.items {
    color: #fafafa;
    padding-left: 25px;
}

#navigator > li.active > a{
    background: #002b36;
}

#navigator a > span {
    padding-left: 15px;
}

#navigator div.row{
    width: 90%;
    margin: auto;
}

#navigator div.links {
    background: #002b36;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 15px 0;
    width: 40%;
}

#navigator div.links > a {
    color: #fafafa;
}

.navigation-item-dark {
    background-color: #2a3644;
    /*padding-left: 52px;*/
    /*padding-top: 22px;*/
    /*height: 88px;*/
    /*font-size: 24px;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
}

.navigation-item-white {
    background-color: #fafafa;
    /*padding-left: 52px;*/
    /*padding-top: 22px;*/
    /*height: 88px;*/
    /*font-size: 24px;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2a3644;
}

.project_banner {
    background-image: none !important;
    background-color: #2a3644 !important;
}
.project_banner p.title {
    position: relative;
    top: 30px;
    right: 15%;
    color: #ffffff;
    font-size: 25px;
}

.projects_title {
    color: #3bbd79 !important;
    font-size: 15px;
    font-weight: bold;
    /*font-family: 'coding-fonts', '微软雅黑';*/
}

.project_name {
    color: #3bbd79 !important;
    font-size: 14px;
    vertical-align: top;
    margin-left: 10px;
}

.project_description {
    color: #333333;
    font-size: 12px;
    position: relative;
    top: 5px;
    margin-left: 10px;
}

.project_owner {
    color: #979797;
    font-size: 8px;
    position: relative;
    left: 10px;
    top: 25px;
}

.project_owner > img {
    vertical-align: middle;
    border-radius: 50%;
}

.project_navbar {
    top: 55px;
    color: #2d59a2;
    margin-bottom: 0 !important;
}

.project_navbar .navbar-brand {
    margin: 15px 10px;
    padding: 0;
}

/*.project_navbar .navbar-brand > img {*/
    /*width: 100%;*/
/*}*/

.project_navbar span {
    font-size: 25px;
    color: #222222;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.project_header.nested {
    top: 55px;
}

.project_header {
    text-align: center;
    position: relative;
    top: 57px;
    margin: 0 !important;
    background-color: #2a3644;
    color: #ffffff;
    font-size: 15px;
}

.project_header > div {
    padding: 10px;
}

.project_header a {
    width: 100%;
    display: block;
    color: #ffffff !important;
    opacity: 0.5;
}

.project_header > div.active {
    color: #3bbd79;
    border-bottom: 3px solid;
}

.project_header a:hover, .project_header > div.active > a {
    color: #3bbd79 !important;
    opacity: 1;
    text-decoration: none;
    /*padding-bottom: 7px;*/
}

.project_content {
    margin-bottom: 20px;
}

.project_content > .description {
    height: 100px;
    /*padding-left: 0;*/
}

.project_content > .description h4 {
    color: #3bbd79;
}

.project_content > .description p {
    font-size: 12px;
}

.project_content > .description div {
    color: #979797;
    font-size: 8px;
    position: absolute;
    bottom: 0;
}

.project_content > .description div > img {
    vertical-align: middle;
    border-radius: 50%;
}

#project_readme {
    margin-bottom: 0;
}

#readme_body{
    overflow: auto;
}

#readme_body img{
    width: 100%;
}

#readme_body img.emotion{
    width: auto;
}

.project_item {
    height: 65px;
    color: #428bca !important;
}

.project_item > img {
    float: left;
    margin-top: 10px;
}

.project_item > div.item_details {
    display: inline-block;
    margin-left: 10px;
}

.project_item > div.item_details > span.item_name {
    font-size: 16px;
}

.project_item > div.item_details > span.item_note {
    color: #979797;
    font-size: 8px;
}

.project_item > span.item_arrow {
    float: left;
    font-size: 20px;
    vertical-align: middle;
    position: absolute;
    right: 5%;
    top: 30%;
    color: #dddddd;
}

pre .hljs {
    padding-left: 5%;
}

.line-number-position {
    position: relative;
    top: 0;
    left: -5%;
}

.line-number {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 12px;
}

#project_pull > .title h6 {
    color: #3bbd79;
}

#project_pull > .title p {
    font-size: 12px;
}

#project_pull > .title div > span {
    color: #979797;
    font-size: 8px;
}

#project_pull > .title div > img {
    vertical-align: middle;
    border-radius: 50%;
}

#project_topic > .title > a:hover {
    text-decoration: none;
}

#project_topic > .title > a > img {
    float: left;
    vertical-align: middle;
    border-radius: 50%;
}

#project_topic > .title > a > div {
    margin-left: 4em;
    color: #000000;
    font-size: 12px;
}

#project_topic > .title > a > div > span {
    color: #979797;
    font-size: 8px;
}

#topic_item .title > a:hover {
    text-decoration: none;
}

#topic_item .title > img {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}

#topic_item .title > div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    width: 80%;
    color: #000000;
    font-size: 12px;
}

#topic_item .title > div > strong {
    font-size: 16px;
}

#topic_item .title > div > span, #topic_item .title > div > b{
    color: #979797;
    font-size: 8px;
}

select.status {
    width: 30%;
    margin-bottom: 20px;
}

.emotion.emoji{
    width:20px;
    height:20px;
}
.emotion.monkey{
    width:100px;
    height:100px;
}

.bubble-markdown-image{
    width: 80%;
}

p.thumbnail .bubble-markdown-image{
    width: 33%;
    height: 28vw;
    padding: 5px;
}

#pp_input{
    top: 20%;
}
