body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 0 auto;
    max-width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.icon-small {
    font-size: 75%;
    padding: 0 2px 0;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.panel-heading img, .panel-heading h4{
    display: inline;
    vertical-align: middle;
}

.comment-meta {
    font-size: 10px;
    color: #999;
    line-height: 1.4;
}

.comment-hash {
    font-size: 10px;
    line-height: 1.4;
    position: absolute;
    left: 80%
}
