@font-face {
    font-family: 'coding-fonts';
    src: url('../fonts/icons.eot'), /* IE9 Compat Modes */
         url('../fonts/icons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/icons.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/icons.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/icons.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/icons.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 0 auto;
    max-width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.icon-small {
    font-size: 75%;
    padding: 0 2px 0;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.panel-heading img, .panel-heading h4{
    display: inline;
    vertical-align: middle;
}

.comment-meta {
    font-size: 10px;
    color: #999;
    line-height: 1.4;
}

.comment-hash {
    font-size: 10px;
    line-height: 1.4;
}

.alert.commit {
    margin-bottom: 0;
    padding: 5px;
}

.list-group-item-info {
    color: #31708f;
    background-color: #d9edf7;
}

.detailBox {
    /*width:320px;*/
    border:1px solid #bbb;
    margin: 15px 0 15px;
    /*margin:50px;*/
    overflow: scroll;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
    line-height:2.428571;
    height: 50px;
}
.titleBox label{
    /*color: #999;*/
    margin:0;
    display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
    /*width: 80%;*/
    line-height: 2.0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.titleBox a.commenterName{
    bottom: 4px;
    position: relative;
}
.detailBox div.commenterDetail{
    font-size: 8px;
    color: #979797;
    padding: 0 10px 0;
}
.commentText {
    font-size: 12px;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:10px;
    padding-left: 5px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
    background: #f4f4f4;
}

.star, .comment, .close {
    padding: 0 10px 0;
    /*color: #999;*/
    line-height: 2.0;
    font-size: 10px;
    position: relative;
    bottom: 5px;
}

.watched, .followed {
    padding: 0 3px 0;
    line-height: 2.0;
    font-size: 11px;
}

.like_users img {
    border-radius: 50%;
}

@media (max-width: 768px) {
    .banner {
        position: relative;
        left: 5%;
        top: 10px;
    }
}

#navigator a {
    background: #fafafa;
    color: #2a3644;
    padding-left: 25px;
}

#navigator a > img.checked {
    display: none;
}

#navigator a > img.unchecked {
    display: inline;
}

#navigator > li.active > a {
    background: #2a3644;
    color: #fafafa;
}

#navigator > li.active > a > img.checked{
    display: inline;
}

#navigator > li.active > a > img.unchecked{
    display: none;
}

#navigator a > span {
    padding-left: 15px;
}


.navigation-item-dark {
    background-color: #2a3644;
    /*padding-left: 52px;*/
    /*padding-top: 22px;*/
    /*height: 88px;*/
    /*font-size: 24px;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
}

.navigation-item-white {
    background-color: #fafafa;
    /*padding-left: 52px;*/
    /*padding-top: 22px;*/
    /*height: 88px;*/
    /*font-size: 24px;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2a3644;
}

.project_banner {
    background-image: none !important;
    background-color: #2a3644 !important;
}
.project_banner p.title {
    position: relative;
    top: 30px;
    right: 15%;
    color: #ffffff;
    font-size: 25px;
}

.projects_title {
    color: #2d59a2 !important;
    font-size: 15px;
    font-weight: bold;
    /*font-family: 'coding-fonts', '微软雅黑';*/
}

.project_name {
    color: #2d59a2 !important;
    font-size: 14px;
    vertical-align: top;
    margin-left: 10px;
}

.project_description {
    color: #333333;
    font-size: 10px;
    position: relative;
    top: 5px;
    margin-left: 10px;
}

.project_owner {
    color: #979797;
    font-size: 8px;
    position: relative;
    left: 10px;
    top: 25px;
}

.project_owner > img {
    vertical-align: middle;
    border-radius: 50%;
}

.project_navbar {
    top: 55px;
    color: #2d59a2;
    margin-bottom: 0 !important;
}

.project_navbar .navbar-brand {
    padding: 15px 10px;
}

.project_navbar span {
    font-size: 25px;
    color: #2d59a2;
    display: block;
    margin: auto;
    position: relative;
    right: 5%;
    top: 10px;
    margin-left: 40px;
}

.project_header {
    text-align: center;
    position: relative;
    top: 55px;
    margin: 0 !important;
    background-color: #2a3644;
    color: #ffffff;
    font-size: 15px;
}

.project_header > div {
    padding: 10px;
}

.project_header a {
    color: #ffffff;
    opacity: 0.5;
}

.project_header > div.active {
    color: #4695e2;
    border-bottom: 5px solid;
}

.project_header a:hover, .project_header > div.active > a {
    color: #4695e2;
    opacity: 1;
    text-decoration: none;
    padding-bottom: 7px;
}

.project_content {
    margin-bottom: 20px;
}

.project_content > .description {
    height: 100px;
    /*padding-left: 0;*/
}

.project_content > .description h4 {
    color: #2d59a2;
}

.project_content > .description p {
    font-size: 12px;
}

.project_content > .description div {
    color: #979797;
    font-size: 8px;
    position: absolute;
    bottom: 0;
}

.project_content > .description div > img {
    vertical-align: middle;
    border-radius: 50%;
}

#project_readme {
    margin-bottom: 0;
}

#readme_body{
    overflow: auto;
}

#project_code {

}

.project_item {
    height: 65px;
}

.project_item > img {
    float: left;
    margin-top: 10px;
}

.project_item > div.item_details {
    display: inline-block;
    margin-left: 10px;
}

.project_item > div.item_details > span.item_name {
    font-size: 16px;
}

.project_item > div.item_details > span.item_note {
    color: #979797;
    font-size: 8px;
}

.project_item > a.item_arrow {
    float: left;
    font-size: 20px;
    vertical-align: middle;
    position: absolute;
    right: 5%;
    top: 30%;
    color: #D7D6D6;
}

.emotion.emoji{
    width:20px;
    height:20px;
}
.emotion.monkey{
    width:100px;
    height:100px;
}

.bubble-markdown-image{
    width: 33.3%;
    display: block;
}

