@charset "UTF-8";
/*markdown 样式*/
.markdown.content {
    line-height: 23px;
    overflow: hidden;
    word-wrap: break-word;
    color: #333;
}
.markdown.content .three_wrapper img.emotion.monkey {
    width: 31%;
    margin: 1%;
}
.markdown.content .two_wrapper img.emotion.monkey {
    width: 46%;
    margin: 2%;
}
.markdown.content > *:first-child {
    margin-top: 0 !important;
}
.markdown.content > *:last-child {
    margin-bottom: 0 !important;
}

.markdown.content a{
    color: #3bbd79;
    text-decoration: none;
}

.markdown.content a.absent {
    color: #c00;
}
.markdown.content a.anchor {
    display: block;
    padding-right: 6px;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.markdown.content a.anchor:focus {
    outline: none;
}
.markdown.content h1, .markdown.content h2, .markdown.content h3, .markdown.content h4, .markdown.content h5, .markdown.content h6 {
    margin: 1em 0 15px;
    padding: 0;
    cursor: text;
    position: relative;
}
.markdown.content h1 .octicon-link, .markdown.content h2 .octicon-link, .markdown.content h3 .octicon-link, .markdown.content h4 .octicon-link, .markdown.content h5 .octicon-link, .markdown.content h6 .octicon-link {
    display: none;
    color: #000;
}
.markdown.content h1:hover a.anchor, .markdown.content h2:hover a.anchor, .markdown.content h3:hover a.anchor, .markdown.content h4:hover a.anchor, .markdown.content h5:hover a.anchor, .markdown.content h6:hover a.anchor {
    text-decoration: none;
    line-height: 1;
    padding-left: 8px;
    margin-left: -30px;
    top: 15%;
}
.markdown.content h1:hover a.anchor .octicon-link, .markdown.content h2:hover a.anchor .octicon-link, .markdown.content h3:hover a.anchor .octicon-link, .markdown.content h4:hover a.anchor .octicon-link, .markdown.content h5:hover a.anchor .octicon-link, .markdown.content h6:hover a.anchor .octicon-link {
    display: inline-block;
}
.markdown.content h1 tt, .markdown.content h1 code, .markdown.content h2 tt, .markdown.content h2 code, .markdown.content h3 tt, .markdown.content h3 code, .markdown.content h4 tt, .markdown.content h4 code, .markdown.content h5 tt, .markdown.content h5 code, .markdown.content h6 tt, .markdown.content h6 code {
    font-size: inherit;
}
.markdown.content h1 {
    font-size: 28px;
    color: #000;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
}
.markdown.content.bubble h1, .markdown.content.bubble h2 {
    border: none !important;
}
.markdown.content h2 {
    font-size: 24px;
    color: #000;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
}
.markdown.content h3 {
    font-size: 20px;
}
.markdown.content h4 {
    font-size: 16px;
}
.markdown.content h5 {
    font-size: 14px;
    color: #666;
}
.markdown.content h6 {
    font-size: 14px;
}
.markdown.content p, .markdown.content blockquote, .markdown.content ul, .markdown.content ol, .markdown.content dl, .markdown.content table, .markdown.content pre {
    margin: 15px 0;
}
.markdown.content hr {
    border: none;
    border-top: 1px dashed #ddd;
    height: 1px;
    padding: 0;
    margin: 30px 0;
}
.markdown.content ul, .markdown.content ol {
    padding-left: 30px;
}
.markdown.content ul.no-list, .markdown.content ol.no-list {
    list-style-type: none;
    padding: 0;
}
.markdown.content ul ul, .markdown.content ul ol, .markdown.content ol ol, .markdown.content ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
.markdown.content dl {
    padding: 0;
}
.markdown.content dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin-top: 15px;
}
.markdown.content dl dd {
    margin-bottom: 15px;
    padding: 0 15px;
}
.markdown.content blockquote {
    border-left: 4px solid #DDD;
    padding: 10px 15px;
    color: #666;
    background: rgba(0, 0, 0, 0.03);
}
.markdown.content blockquote > :first-child {
    margin-top: 0px;
}
.markdown.content blockquote > :last-child {
    margin-bottom: 0px;
}
.markdown.content table {
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.markdown.content .markdown-table {
    width: 100%;
    overflow: auto;
    margin: 15px 0!important;
}
.markdown.content .markdown-table table {
    margin: 0;
}
.markdown.content table th {
    font-weight: bold;
    background: #eee;
}
.markdown.content table th, .markdown.content table td {
    border: 1px solid #ddd;
    padding: 6px 13px;
}
.markdown.content table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
}
.markdown.content table tr:nth-child(2n) {
    background-color: #f6f6f6;
}

.markdown.content img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    padding: 8px;
    margin: 0.25em 0;
    border: 1px solid #eee;
    border-radius: 3px;
}
.markdown.content img.emotion {
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    background: none;
}

.markdown.content img.emotion.emoji {
    height: 1.3em!important;
    width: 1.3em!important;
    vertical-align: middle;
}

.markdown.content img.emotion.monkey{
    max-width: 44%;
    margin: 2%;
}

.bubble-detial .one_wrapper img.emotion.monkey{
    max-width: 100%;
}

.markdown.content .three_wrapper img.emotion.monkey,
.markdown.content .two_wrapper img.emotion.monkey{
    width: 46%;
}

.markdown.content span.frame {
    display: block;
    overflow: hidden;
}
.markdown.content span.frame > span {
    border: 1px solid #ddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
}
.markdown.content span.frame span img {
    display: block;
    float: left;
}
.markdown.content span.frame span span {
    clear: both;
    color: #333;
    display: block;
    padding: 5px 0 0;
}
.markdown.content span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}
.markdown.content span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
}
.markdown.content span.align-center span img {
    margin: 0 auto;
    text-align: center;
}
.markdown.content span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}
.markdown.content span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
}
.markdown.content span.align-right span img {
    margin: 0;
    text-align: right;
}
.markdown.content span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
}
.markdown.content span.float-left span {
    margin: 13px 0 0;
}
.markdown.content span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
}
.markdown.content span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
}
.markdown.content code, .markdown.content tt {
    margin: 0;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
    max-width: 100%;
    display: inline-block;
    overflow: auto;
    vertical-align: middle;
    padding: 0;
}
.markdown.content code:before, .markdown.content code:after, .markdown.content tt:before, .markdown.content tt:after {
    content: "\00a0";
    letter-spacing: -0.2em;
}
.markdown.content del code {
    text-decoration: inherit;
    vertical-align: text-top;
}
.markdown.content code {
    white-space: nowrap;
}
.markdown.content pre > code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
    font-family: Consolas, Menlo, "Liberation Mono", Courier, monospace !important;
}
.markdown.content .highlight pre, .markdown.content pre {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}
.markdown.content pre {
    word-wrap: normal;
}
.markdown.content pre code, .markdown.content pre tt {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    word-wrap: normal;
    max-width: initial;
    display: inline;
    overflow: initial;
    line-height: inherit;
}
.markdown.content pre code:before, .markdown.content pre code:after, .markdown.content pre tt:before, .markdown.content pre tt:after {
    content: normal;
}

.markdown.content table tr {
    font-size: 0.875em;
}

.markdown.content h1{
    line-height: 2em;
}

.markdown.content h2{
    line-height: 1.8em;
}

.markdown.content h3{
    line-height: 1.6em;
}

.markdown.content h4{
    line-height: 1.4em;
}

.markdown.content h5{
    line-height: 1.4em;
}

.webview-detail h1 {
    border-bottom: .5px solid #ddd;
}
.webview-detail h2 {
    border-bottom: 0.5px solid #ddd;
}
.webview-detail hr {
    border-top: .5px dashed #ddd;
}
.webview-detail img {
    border: .5px solid #eee;
}

.webview-detail h1{
    font-size: 20px;
}

.webview-detail h2{
    font-size: 18px;
}

.webview-detail h3{
    font-size: 16px;
}

.webview-detail h4{
    font-size: 14px;
}

.webview-detail h5{
    font-size: 14px;
}
