.navbar-coding {
  background-color: #ffffff;
  height: 57px;
  margin-bottom: 0;
}

.navbar-header-coding {
  border-bottom: 1px solid #e5e5e5;
}

.banner {
  position: relative;
  top: 8px;
  left: 7px;
}

.navbar-coding-detail {
  background-color: #f6f6f6;
  position: absolute;
  width: 100%;
  z-index: 2000;
}

.nav-icon {
  margin: 0 7px 0 7px;
  width: 20px;
  height: 20px;
}

.navbar-nav {
  margin: 1px -15px;
}

.navbar-nav .active{
  border-left: 4px solid #3bbd79;
}

.navbar-nav .active a{
  padding-left: 11px !important;
}

.navbar-nav li a {
  padding: 12px 15px;
  cursor: pointer;
}

.navbar-nav li span {
  margin-left: 15px;
  color: #222222;
  font-size: 16px;
}
.navbar-nav li img {
  margin-top: -3px;
}

.nav-login {
  padding-top: 14px;
}

.nav-pp {
  padding-bottom: 15px;
}

.black-cover {
  position: absolute;
  top: 57px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 1000
}

.black-cover-top{
    top: 100px !important;
}
