.pp-container{
	*{
		box-shadow: initial !important;
		outline: none !important;
		&:not(img){
			border-radius: 0 !important;
		}
	}
	.row,.detailBox{
		border: 0;
		background-color: #fff;
	}
	> .row{
		box-shadow: 0 0 5px #ddd !important;
	}
	.detailBox{
		box-shadow: 0 0 5px #ddd !important;
	}
	.row{
		margin: 0;
	}
	.detailBox{
		margin: 9px 0;
	}
	.actionBox{
		margin: 10px;
		padding: 0;
		background-color: #fff;
		border-top: 1px solid #dddddd;
	}
	.input-group{
		height: 53px;
		padding: 9px 10px;
		width: 100%;
		*{
			border: 0;
			background: #fff;
		}
		.btn{
			margin-left: 0;
			.glyphicon-edit{
				transform: scale(1.6) translate(2px,0px);
				background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="图形" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1024px" height="1024px" viewBox="0 0 1024 1024" enable-background="new 0 0 1024 1024" xml:space="preserve"><path fill="#272636" d="M869.350033 574.888115l-60.423903 60.423903 71.126792 71.126792c0 0 60.943241 1.264476 60.943241-59.701345L869.350033 574.888115zM209.428886 543.863286l0-569.014333 569.014333 0L778.443219 360.965821l81.287762 81.287762 0-467.404631c0-44.866329-36.398853-81.287762-81.287762-81.287762l-569.014333 0c-44.911488 0-81.287762 36.398853-81.287762 81.287762l0 569.014333c0 44.888908 36.376273 81.287762 81.287762 81.287762l467.404631 0-81.310342-81.287762L209.428886 543.863286zM412.648291 178.068357l0 60.965821 30.482911 30.505491 60.920662-60.943241-30.437751-30.528071L412.648291 178.068357zM828.751312 534.176494l-304.377508-305.235546-60.898082 60.898082 304.829107 304.829107L828.751312 534.176494z" transform="translate(0, 812) scale(1, -1)"/></svg>');
				background-size: 100%;
				height: 14px;
				&:before{
					content: initial;
				}
			}
		}
		input{
			border-radius: 2px !important;
			height: 35px;
			border: 1px solid #d3d3d3;
			&::-webkit-input-placeholder { color:#999999; };
			&::-moz-placeholder { color:#999999; }
		}
	}
	.btn-default{
		background: #fff;
	}
	#load_more{
		border: 0;
	}

	.commentBox{
		border-top: 0 !important;
	}

	.commenterImage{
		position: relative;
		top: 2px;
	}
	.commenterName{
		color: initial !important;
	}
	.commentedAt{
		top: 50% !important;
		color: #999999 !important;
	}
	.like_users{
		margin: 7px 0;
		padding: 0;
		overflow: hidden;
		img{
			width: 22px;
			height: auto;
		}
	}
	.commentList li{
		padding: 8px;
		background-color: #f4f4f4;
	}
	.comment-meta{
		color: #aaa;
	}

	.comment,.star{
		.glyphicon:before{
			position: relative;
			top: 2px;
			left: 5px;
		}
	}

	.commentSubmit{
		.input-group{
			width: 100%;
			padding: 9px 0;
		}
	}

	.taskDescription{
		line-height: 1.5;
		font-size: 15px;
	}
}

#pp_input{
	position: fixed;
	top: 58px;
	left: 0;
	right: 0;
	bottom: -10px;
	margin: auto;
	#pp_form{
		background: #fff;
		position: relative;
	}
	&:focus{
		outline: none;
	}
	&.small:not(.chose-friend){
		margin: 0 12px;
		top: 120px;
		height: 148px;
		.modal-dialog{
			border-top-left-radius: 4px !important;
			border-top-right-radius: 4px !important;
			overflow: hidden;
		}
		.modal-header{
			margin: 0 15px;
			padding: 10px 0;
			height: 40px;
			background-color: #f2f2f2;
			& *{
				color: #222222 !important;
			}
			h4{
				font-weight: 400;
			}
		}
		textarea{
			height: 56px;
			background-color: #f2f2f2;
		}
		#pp_form{
			background-color: #f2f2f2;
		}
	}
	&.large{
		background-color: #ccc;
		.modal-content{
			height: 360px;
		}
		textarea{
			height: 68px;
		}
		.emojiboard{
			top: 5px;
			.toggle-emoji{
				bottom: -23px;
			}
		}
		.slide .dot{
			bottom: 25px;
		}
	}
	textarea{
		padding: 0;
		border: 0;
		resize: none;
		font-size: 15px;
	}
	.modal-dialog{
		margin: 0;
		height: 100%;
		background: #e5e5e5;
	}
	.modal-content{
		height: 100%;
		border: 0;
		border-radius: 0;
		background-color: #e5e5e5;
	}
	.modal-header{
		background: #2A3644;
		& *{
			color: #fff !important;
			font-size: 14px;
			text-decoration: none !important;
		}
		h4{
			font-size: 15px;
		}
		#pp_submit{
			color: #3bbd79 !important;
			background: none;
			border: 0;
			border-radius: 0;
			padding: 0;
		}
	}
	.modal-body{
		padding: 12px 12px 40px;
	}
	.input-tool{
		height: 40px;
		width: 100%;
		bottom: 0;
		position: absolute;

		> i{	
			display: inline-block;
			height: 30px;
			width: 25px;
			margin: 5px;
			background-size: 100%;
			background-repeat: no-repeat;
			&.icon-at{
				margin-left: 17px;
				background-image: url(/images/pp/at.png);
			}
			&.icon-emoji{
				background-image: url(/images/pp/emoji.png);
			}
			&.icon-keyboard{
				display: none;
				background-image: url(/images/pp/keyboard.png);
			}
		}
	}

	//#pp_input.chose-emoji
	&.chose-emoji:not(.chose-friend){
		&.small{
			height: 291px;
		}
		.imageboard{
			display: none;
		}
		.input-tool{
			&:before{
				content: '◆';
				position: absolute;
				font-size: 20px;
				color: #f1f1f1;
				left: 57px;
				bottom: -17px;
			}
			i.icon-keyboard{
				display: inline-block;
			}
			i.icon-emoji{
				display: none;
			}
			.emojiboard{
				display: block;
			}
		}
		.modal-content{
			background-color: #f1f1f1;
		}
	}

	//#pp_input.chose-friend
	&.chose-friend{
		.modal-dialog > div:not(.pp-at){
			display: none;
		}
		.pp-at{
			display: block;
		}
	}

	//#pp_input.chose-location
	&.chose-location{
		.modal-dialog > div:not(.pp-location){
			display: none;
		}
		.pp-location{
			display: block;
		}
	}

	.emojiboard{
		display: none;
		position: relative;

		ul{
			padding: 0;
			height: 155px;
			text-align: center;
			white-space: nowrap;

			i{
				display: inline-block;
			}

			&.emoji-emojis{
				i{
					margin: 5px 7px;
					width: 24px;
					height: 24px;
					background-image: url(/images/pp/emojis.png);
					background-size: 2016px 24px;
					&:last-of-type{
						background-image: url('');
					}
					&.icon-delete{
						background-image: url(/images/pp/emojidelete.png);
						background-size: 100%;
					}
				}
			}

			&.emoji-monkeys{
				i{
					margin: 2px 7px;
					width: 50px;
					height: 50px;
					background-image: url(/images/pp/monkeys.png);
					background-size: 2100px 50px;
				}
			}
		}

		&.chose-emojis{
			#slide_monkeys{
				display: none;
			}
			#slide_emojis{
				display: block;
			}
			.toggle-emoji span.monkeys{
				background-color: #fbfbfb;
			}
		}
		&.chose-monkeys{
			#slide_monkeys{
				display: block;
			}
			#slide_emojis{
				display: none;
			}
			.toggle-emoji span.emojis{
				background-color: #fbfbfb;
			}
		}
		.toggle-emoji{
			position: absolute;
			bottom: -25px;
			height: 35px;
			width: 100%;
			span{
				display: inline-block;
				width: 50%;
				height: 100%;
				line-height: 35px;
				float: left;
				text-align: center;
			}
		}

		.icon{
			display: inline-block;
			width: 35px;
			height: 35px;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			vertical-align: middle;
			margin-right: 7px;
			position: relative;
			top: -2px;
			&-emojihead{
				background-image: url(/images/pp/emojihead.png);
			}
			&-monkeyhead{
				background-image: url(/images/pp/monkeyhead.png);
			}
		}
	}

	.imageboard{
		padding: 8px 12px;
		.image{
			position: relative;
			display: inline-block;
			margin-right: 10px;
			height: 65px;
			width: 65px;
			border-radius: 2px !important;
			background-position: center;
			background-size: cover;
			&:nth-of-type(7){
				display: none;
			}
			&.upload-start{}
			&.upload-ing{}
			&.upload-success{}

			i.icon-delete{
				display: block;
				position: absolute;
				top: -8px;
				right: -8px;
				width: 16px;
				height: 16px;
				border-radius: 50% !important;
				background-color: red;
			}
		}

		.image-tip{
			padding-top: 10px;
			color: #999999;
			font-size: 12px; 
		}

		.location{
			display: inline-block;
			padding: 0 10px;
			height: 32px;
			font-size: 12px;
			line-height: 32px;
			background-color: #fff;
			border-radius: 2px !important;
			.icon-right{
				display: none;
			}
			&.success{
				padding-right: 0;
				.icon-location{
					background-image: url(/images/pp/location2.png);
				}
				.icon-right{
					display: inline-block;
				}
			}
		}

		.icon{
			display: inline-block;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			&-plus{
				background-image: url(/images/pp/plus.png);
			}
			&-location{
				background-image: url(/images/pp/location1.png);
				width: 15px;
				height: 100%;
				background-size: 15px 15px;
				vertical-align: middle;
				position: relative;
				top: -2px;
			}
			&-right{
				background-image: url(/images/icons/right_arrow.png);
				width: 25px;
				height: 15px;
				margin-left: 5px;
				border-left: 1px solid #ddd;
				background-size: 24px 24px;
				vertical-align: middle;
				position: relative;
				top: 0px;
			}
		}
	}

	.pp-at{
		display: none;
		min-height: 200px;
		background: #e5e5e5;

		.search-wrap{
			height: 45px;
			padding: 9px;
		}

		input#friend_search{
			width: 100%;
			-webkit-appearance: none;
			appearance: none;
			border: 0;
			border-radius: 5px !important;
			height: 100%;
			text-align: center;
			font-size: 13px;
		}

		.at-list{
			background-color: #fff;
			list-style: none;
			padding-left: 64px;
			font-size: 15px;
			li{
				padding: 0;
				height: 55px;
				line-height: 55px;
				&:not(:last-of-type){
					border-bottom: 1px solid #dddddd;
				}
				& *{
					position: relative;
					left: -64px;
				}
			}
			img{
				margin: 0 12px;
				height: 40px;
				width: 40px;
				border-radius: 50%;
				background-color: #ddd;
			}
			.nothing{
				position: relative;
				left: -32px;
				left: -50%;
				width: 200%;
				margin-left: -32px;
				margin-top: 30px;
				text-align: center;
				background: #e5e5e5;
			}
		}
	}

	.pp-location{
		display: none;
		min-height: 200px;
		background: #f6f6f6;
	}

	.list-header{
		display: none; //启用 pushState hash 和 back() 混合返回方案，【取消】按钮暂时隐藏
		height: 50px;
		line-height: 50px;
		padding: 0 15px;
		background: #2a3644;
		color: white;
		text-align: right;
	}
}

.slide{
	position: relative;
	width: 100%;
	height: 155px;
	overflow: hidden;
	margin: 0 auto;
	&:after{
		content: '';
		display: block;
		width: 100%;
		padding-top: 50%;
	}
	ul{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	li{
		list-style: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #f1f1f1;
		&:first-child{
			z-index: 1;
			img{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				border: none;
			}
		}
	}
	.dot{
		position: absolute;
		text-align: center;
		width: 100%;
		bottom: 28px;
		z-index: 5;
		font-size: 0;
		span{
			display: inline-block;
			width: 6px;
			height: 6px;
			margin: 0 2px;
			margin-left: 5px;
			border-radius: 50% !important;
			background-color: #aaa;
			&.cur{
				background-color: #777;
			}
		}
	}
}

html[class*='path-pp']{
	.list-group{
		margin-bottom: 9px;
	}
	.container-coding{
		margin-top: 65px;
		margin-bottom: 9px;
		padding: 0 12px;
	}
}

html.pp-modaling-large{
	.modal-backdrop{
		display: none;
	}
	#pp_list{
		display: none;
	}
}

html.pp-modaling-small{
	body{
		overflow: hidden;
	}
	.modal-backdrop{
		display: block;
	}
}

html.chose-friend{
	body{
		overflow: initial;
	}
	.modal-backdrop{
		display: none;
	}
	#pp_list{
		display: none;
	}
}



























