@charset "UTF-8";
@font-face {
  font-family: 'CodingHome';
  src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SAz0AAAC8AAAAYGNtYXCyerLUAAABHAAAAHRnYXNwAAAAEAAAAZAAAAAIZ2x5ZiXkRTgAAAGYAAAWaGhlYWQfAK+lAAAYAAAAADZoaGVhINwc/AAAGDgAAAAkaG10eFARAP0AABhcAAAAMGxvY2EdLhPeAAAYjAAAABptYXhwADMDrwAAGKgAAAAgbmFtZTeVwM4AABjIAAABqHBvc3QAAwAAAAAacAAAACAAAwQAAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmEwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEAGAAAAAUABAAAwAEAAEAIOYA5gXmCOYM5g/mE//9//8AAAAAACDmAOYF5gfmDOYP5hL//f//AAH/4xoEGgAZ/xn8GfoZ+AADAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAIAN//vBGkDkQA9AFoAADcRNDY3PgEzITIWFx4BFREUBgcOASMhFBYXHgEXHgEVFAYHDgEjISImJy4BNTQ2Nz4BNz4BNSEiJicuATUxNxQWFx4BMyEyNjc+ATURNCYnLgEjISIGBw4BFRE3DQ0NIBIDgBIgDQ0NDQ0NIBL+zwUEBQkEBQQFBgUMCP7iBw0FBgUFBAQJBQQF/s8SIA0NDUgCAwMGAwOAAwcCAwMDAwIHA/yAAwYDAwLXAmESIA0NDQ0NDSAS/Z8SIA0NDQsVDAsUCAkMBAcNBQUFBQUFDQcEDQgIFAsLFgsNDQ0gEo8DBgMDAgIDAwYDAdIEBgMCAwMCAwYE/i4AAAIABv/ABMsDuAATAHgAAAEuASMhIiYnLgErASIGBw4BByEnFyEiBhcTPgE3PgE3LgE1NDYzMhYzDgEVFBYXDgEHHgE7ATQmNT4BNz4BNy4BNTQ2MzIWFRQGBx4BFx4BFxQGBzM1LgEnPgE1NCYnMjYzMhYVFAYHHgEXHgEXFAYHITI2NxM2JiMEhgEWGf44NCcnIRBE7yojAwQNAQRFBQz7rCoQAiQQKxoGDAcaH0IvAwQCCwwYFkFWCQcRCxwBB1A7BxAIHydQOThQJx8IEAg7TwgBAUAIVkIVGQ0LAwQCL0MgGQYNBjFCBhQPAYYrFgInAhArAyIdEw0qJAsKKyiSD2ibJhv+CBckDAIFAg41HzBDARMsGCA9GCB4SAMDAwcDQmoZBAUCEj8mOFBQOCY/EgIFBBlqQgMHAwJKeSEYPSAYLBMBQzAfNQ4CBQIXWDkQGgMmGwJMGx8AAAQAAP/KBcgDwAAqADsATQBeAAABNzQuAiMiDgIHLgEjIg4CHQEOAxUUHgIzITI+AjU0LgInMQEWFAcGIi8BNzYyFxYUDwEXEw8BDgEnLgE/ARM+ARceAQcxEwYiJyY0PwEnJjQ3NjIfAQcE8AE4YYFJL1ZMQBgZPSIsTzshPGVLKjVcfEYDIkZ8XDUgOU8w/XsKCgkXCdfXCRcJCgqmptlFQwQWDAwKBChhBBYMDAkEQgkXCQkKpqYKCQkXCdfXAlcISYFfOBcqOiQREyI6Ti0GCjxZbz5Ge1w1NVx7RjZiUj8S/nEJGAkJCcDBCQkJGAmXlgFn39UMCwQFFQx+ATYMCwUEFQz+bwkJCRgJlpcJGAkJCcHAAAAmAAT/xRL9A74AXABjAJQAxQECAR4BKwFHAVQBYQFpAXYBfQGuAd8B+wITAiECLgI5AkICaQJuAoMCmALFAuwC9gL7AwADBQMKAxcDJAMxA2wDeQOsAAAlLgEnLgEnLgEnLgEjIgYHDgEHDgEHDgEVFBYXHgEXHgEXHgEzMjY3PgE3MxQGBw4BBw4BBw4BIyImJy4BJy4BJy4BNTQ2Nz4BNz4BNz4BMzIWFx4BFx4BFx4BFSMXIzUzFTMVNzI2Nz4BNz4BNz4BNTQmJy4BJy4BJy4BIyIGBw4BBw4BBw4BFRQWFx4BFx4BFx4BMzUyFhceARceARceARUUBgcOAQcOAQcOASMiJicuAScuAScuATU0Njc+ATc+ATc+ATMXIiYnLgEnLgEnLgEnLgE1PAE9ATMVFBYXHgEXHgEXHgEzMjY3PgE3PgE3PgE9ATMVFAYHDgEHDgEHDgEjNzQmJy4BJy4BJy4BKwEVMzI2Nz4BNz4BNz4BNTMUBisBNTMyFhceARUhNCYnLgEnLgEnLgErARUzMjY3PgE3PgE3PgE1MxQGKwE1MzIWFx4BFRcjNTMVIxUzFSMVMxU3ByMnMxc3MxcjNTMVIxUzFSMVMxUzIzUzFTMVNzI2Nz4BNz4BNz4BNTQmJy4BJy4BJy4BIyIGBw4BBw4BBw4BFRQWFx4BFx4BFx4BMzcyFhceARceARceARUUBgcOAQcOAQcOASMiJicuAScuAScuATU0Njc+ATc+ATc+ATMXMzI2Nz4BNz4BNzQ2NTQmJy4BJy4BIyYiKwEVJzMyFhceARceARceARUUBgcOASsBFSM1BSM1ByMnFSM1Mxc3MxUzIzUzFSMVMxUjFTMVMyMnFSM1Mxc1MxU3IxUjNSM1MxUlBzAGIyIuAjU0PgIzMhYfATUnLgEjIg4CFRQeAjMyNj8BIwUzEScRARQOAiMiLgI1ND4CMzIeAhUDIg4CFRQeAjMyPgI1NC4CIyExIiYjIgYHDgExBxUzMDYzMhYzHgMVFA4CKwERIxEzMj4CNTQuAiMFFQ4BIyIuAjU0PgIzMhYfATUnLgEjIg4CFRQeAjMyNj0BIwUBIxUBFTMRIxEBMzUjFTcjFTM1BzM1IxURMxEjESUiBhUUFjMyNjU0JiMhIgYVFBYzMjY1NCYjBQYmJyY2NzYWFxYGBwEiLgI1PAE1PAE1NjQ1NDY1NDAxPgE3PgEzMhYXPgEzMhYXHgEXOAEVFBYVHAEVHAEVFhQVFA4CIwEOAScuATc+ARceAQclIgYHLgMnLgEnDgEHDgMHLgEjIgYVFBYzMjY3HgMzMj4CNx4BMzI2NTQmIwbDAQICAgQDAgYEAwcEBgoEBAgDAwUCAgEBAgIFAwMHBQQKBggNBgUHAQkDAgIGAwMIBAQJBQcMBQYJAwQGAgICAgICBgQDCQYFDAcECQQECAMDBgICBAm4SwlClQYKBAUIAwMGAgECAgIBBgMDCAUECgUGCgUECAQDBQICAgICAgUDBAgEBQoFBwwFBgkEBAYDAgICAgMGBAQJBgUMBwYMBgUKBAQGAgICAgICBgQECgUGDAbOBgkEBAcDAgUBAgIBAQEJAQIBBAIDBgMECAUFCAQEBgIDAwIBAQkBAQEEAgMIBAUMB/UBAgEEAwQIBQUOCBwcCA0GBQgDBAQBAQIKICAnJxAYCAgIAW4CAQEEBAMIBQYNCBwcCA0GBQgDAwUBAQIJIB8nJxAYCAcIv1xZT0pKUsYyDDEKLS4KuFxYT0tLU65LCkGVBgoFBAgDBAUCAgICAgIFBAMIBAUKBQYKBAUIAwQFAgIBAQICBQQDCAQFCgUBBgwGBQkEBAcCAgICAgIHAwQKBQYMBgcMBgUKAwQHAgICAgICBwQECQYFDAemJwQJAwMGAgIEAQEBAQIEAgMGAwMHBCYJLgUJBAQIAwMFAgICBgYFEgsmCQE1CS4KLQkNLi8NwltYT0pKUsUMTQkMTQm/LQksYvT2AjU4KEg3Hx83SCgpRBwOBQJCTj5uUi8rT3BDUEQCCC8G4END+5kaLjwjIj0tGhotPSIjPC4apzdjSSoqSWM3OGJJKytJYjgCYQEgGg8fDjc/BwlPGRk9ATFNNh0aLT0iT2a1OGJJKipJYjcGgA43DylINiAgNkgpKEQcDgUBQ00/blEwLE9vRIM4Z/2e/uVWAXk7Q/2LZ2dnZ2dnZ2dnZ/PnCQ0NCQoNDQoCFQoNDQoJDQ0JAUMQHAMEEhAQHAMEEhD9tlmbdEMBAQQSDSJwQzRbIiJbNENwIQ4SBAEBQ3ScWP3lAxwQEREDBBwQEBIEBGQbLg4XRVlqO0BTBQZSQDtqWUUXDi4bKzw8KwwZCgJWkcNubsKSVgIKGA0qPDwquAMGAwMEAgIEAQEBAgICBgQDCgYGDQgHDgUGCgQEBgICAgQEBAwIBQkEBAYDAwQBAgEDAgMHBQQMBgcPCAkPBgcLBQQIAgMCAQIBBAMDBgQDCAVli4EKBwICAgYEBAoGBg0HCA0GBgkEBAYCAgICAgIGBAQKBQYNCAcNBgYKBAQGAgIChgIDAwcEBQsHBw4JCA4HBwsFBQcDAgMDAgMHBQULBwcOCAkOBwcLBQQHAwMCkAECAQMDAgUDAwYEAwcEAwcEUVEIDQUFBwMDBAEBAQEBAQQDAwcFBQ0IUVEHDQYGCQQEBgICAkkHDAYFCQQEBgECAnYCAgIGBAQJBgUNByMjiggJCBoRBwwGBQkEBAYBAgJ2AgICBgQECQYFDQcjI4oICQgaEUaLCzMKOQqLi4t/f4uLCzMKOQqLgQoHAgICBgQECgYGDQcIDQYGCQQEBgICAgICAgYEBAoFBg0IBw0GBgoEBAYCAgKGAgMDBwQFCwcHDgkIDgcHCwUFBwMCAwMCAwcFBQsHBw4ICQ4HBwsFBAcDAwJJAQEBAwICBQMDBwMFCAIDBQECAgE8RwEBAQMCAgYEBAkGChAFBQY6i4t6enp6i39/i4sLMwo5Cn9/i39/i4CAgAsLygIeIzxOLSxPOyMeHhBlAgEOKUdeNTtfRCU7AgxJAU1G/m0BAy1POyMjO08tLE87IyM7TywBAylHXjU2XkcoKEdeNjVeRykCAQEECAElAgICKj1JHy1POyMBZ/5wKEdeNjVeRyn71gQIIzxOLSxPOyMeHhBlAgEOKUdeNTtfRCVTA7VnAWI0/jQGAgb+ngEAHR1iFRU5Ghr+MwGX/mkxEAsLEBALCxAQCwsQEAsLECAGCg0NHAYGCQ4NHAb+nShIYzsDBQIBAgEBBAEDBAIBGD4VLzskHh4kOy8VPhgBAgQDAQQBAQIBAgUDO2NIKAF0DQoGBhwNDgkGBhwNoSAaMV5RPxMZXTk5XRkTP1FeMRogSDMySAcHU4VfNDRfhVMHB0gyM0gAAgAA/8AEAAPAACUAPgAAEzQ2Nz4BNz4BMzIWFx4BFx4BFRQGBw4BBw4BIyImJy4BJy4BNTEFFBYXHgEzMjY3JT4BNTQmJyUuAQcOARURACIjIl07O4BGRoA7O10iIyIiIyJdOzuARkaAOztdIiMiAVULCwULBQYKBQFrCwoKC/6VChULCwsBwEaAOztdIiMiIiMiXTs7gEZGgDs7XSIjIiIjIl07O4BG1Q0SBwIDAwPVBhMMDBMG1QYBBgcSDf5WAAAAABsAAP/MHRoDwAAIABsAKAAwAFIAWwBnALsAwwDIAM0A1QEKASUBKgEzATgBPQFEAVkBcgF7AYABhQGKAY8BqAAAAS4BJwceARc3AxEjFTMRFAYHHgEXPgE3LgEnBwURMzUjESMRIRUhNSEBNjQ1ESERISkBETM1IRUzERwBByEVIQ4DBx4BFz4DNyERMxEhNQEuAScHHgEXNwMOAwcuAychNwchPgE3ITUhPgE3Jw4BByM+ATcnDgEHDgEHHgEXPgE7AQ4DBx4BFz4DNx4DFw4DBx4BFz4DNx4DFz4BNy4DJz4DNycFNSEVFAYHIREhFSE1IRUhNSERIT4BPQEhFRcRITUhNSEVIRUhESEOAQcuAScHHgEXDgMHHgEXPgM3HgMXPgE3LgMnPgE3IQEeARc3LgEnMzUhPgE3Jw4DBx4BFz4BNzMDMxEjERMeARc3LgEnBwUVITUhATUhFSEFESERMzUhEyEVIREUBgcGIiceARc6ATc+ATURJT4BNycOAQceARc+ATczHgEXNy4BJzM1IQUuAScHHgEXNwM1IRUhESEVITUFITUhFRUhNSEVFyE1IREjPgE3Jw4BByERIRUhFSEVMzUhNQEyHF4sGCxfHBdQ4sErDQYPBAhMlwMHAp8Bq/j4IP7lApD+qwO+AQFx/o4Cn/7z6Px57gH+5QEaBRs9Zk8HDQVRaT8cBAFzIAENBJkZWSgaKFoZGVARKzQ8IiM+Ni0SAaQVB/5VDxkLAg/9+hEaCiUJGRL4FywSJg0xCgkPCQIHAgkzPaUcTGWATwYPBDtkVUceEi41PCIoVlpdLwULAjBfW1coKFphajgDDAY4aWFZJyRDOS8RFQJ3AUkBA/67AUn+twLN/pwBZP6ZAQIBZCL+egHL/EAB1f6WAWIJNDcxTh4ZHk4xG0RTYzsFCwM9ZlZFGzeDnLRoAQkFZrKZgDU4NggBjgKGEyEHHwceEbX+1Q0XCSEOJC01HQgSBCA7GWW3ICA1IkMRHBJEIhoCFv6xAU/+sQFP/rEBcP5wIAFw1f21AisLEBBiQwQIAU1cFRUQ/sYNFAkiF0wwBhIFGS8UdxgqCh4JJhXa/psELhJIJRkkRRMc4gFI/rgBSP64AsH+qQFX/qkBV4n+IAF32R9CGh8XSCD9+gFp/igB2CIB4AL+H18nFChkIBv9VgIEIP42JC8JBhAGDDhrBA8Gaj0CByEBevxeISEByRAfEAEu/pMBbSAg/tIQHxAhQX95bzEFDgY0dX6GRf4QAfAhAR0fYCcRKGIhFv7eLVNLQx0eRUtRLCMCIkomIT6HRgZIiUAtdD4KP3gRERcCBRoFBQddqJOANQQMBSdaZG89Kk9IQh0hNy0jDQUQBQ4lLjciITgvJg0GEAUMJC04ICBLVWA2C5ObOBkxGQFUmZmZmf6sGTEZOJsgAZR7ISF7/mw2Zy0hWTkMOl0kEyMgHg0GEQYOHyMmFSIwIRUGCBIGBhIeLCAxcTsB5R9GGgsWQR0gGTQaCChLRDwYAw8DHUkr/KMCUP2wAskiUx4SHVIgDuaCgv7QjY0gAXH+TkECJSH9pQ4LAQEBCBIHBQUZGQJ7xhg0GgdHfSwFDgQZPyIfSBkMF0AdID8hXygPKGIiE/5hpqYBaKKioqKixqamq4sBqChfKxAqbyn+WIsg2dkgAAAAAgC1ADMFIAMTACUAQwAANzQ2NwkBLgE1NDY/AT4BMzIWFwEeARUUBgcBDgEjIiYvAS4BNTEFNTQ2Nz4BMyEyFhceAR0BFAYHDgEjISImJy4BNTG1BAMBDf7zAwQEAyIECAQECAQBPwMEBAP+wQQIBAQIBCIDBAGuAwMDCAUCkQUIAwMDAwMDCAX9bwUIAwMDoAUIAwENAQ4DCAQFCAMiBAMDBP7BAwgFBAgD/sADAwMDIwMIBFcsBAgDAwQEAwMIBCwFCAMDAwMDAwgFAAAAAAkAB//CBIQDvwAnADUAQABNAFoAhgCUAMwA2gAAASEiBhURFBYzIQ4BByMiBhUUFjMhMjY1NCYrAS4BJyEyNjURNCYjMQEiJjU0NjMyFhUUBiMxJSERNDYzITIWFREBIgYVFBYzMjY1NCYjMyIGFRQWMzI2NTQmIzciBgcuAScuAScOAQcOAQcuASMiBhUUFjMyNjceATMyNjceATMyNjU0JiMxBQ4BJy4BNz4BFx4BBzEXIiY1PAE1MDQxPAE1NDY1OAExPgE3PgEzMhYXPgEzMhYXHgEXOAExHAEVHAEVMBQxFhQVFAYjMTcGJicmNjc2FhcWBgcxBCD8Syk7OykBWQtBIjwKDw8KAlgKDg4KPSJACwFYKjo6Kv4mCw4OCwoPDwoCDPvnHRUDtRUd/YAEBQUEBAYGBOQEBQUEBAYGBIoLFAYUTjIbJAIDIxszThQFFAwSGhoSBgoEAoZfXoYCBQoFExkZE/4fAgwGBwgCAQwHBwcB50xrAQEIBg4wHRYnDw4nFh0wDwUIAgFrTPsHDAECCAYHDAIBBwcDvzwq/bUqPD9YHA8KCw8PCwoPHFg/PCoCSyo8/RwPCgsPDwsKD2oCFBUeHhX97AEEBgUFBwcFBQYGBQUHBwUFBkAOCytKEQsoGRkoCxFKKwsOHxYXHwMDSFdXSAMDHxcWH0YGBAIDDAYGBAMCDAajQjQBAwEBAQEBAQIBCxsJFRkPDQ0PGRUJGwsBAgEBAQEBAQMBNEKbAgQGBgwCAwQGBgwDAAEAAAABAAClhCs3Xw889QALBAAAAAAA0WO1lAAAAADRY7WUAAD/wB0aA8AAAAAIAAIAAAAAAAAAAQAAA8D/wAAAHS8AAAAAHRoAAQAAAAAAAAAAAAAAAAAAAAwAAAAAAAAAAAAAAAACAAAABLoANwTNAAYF1QAAEwAABAQAAAAdLwAABgAAtQSGAAcAAAAAAAoAFAAeAKIBUAHcBtYHOAmsChQLNAAAAAEAAAAMA60AJgAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAkAAAAAQAAAAAAAgAOAJQAAQAAAAAAAwAkADoAAQAAAAAABAAkAKIAAQAAAAAABQAWACQAAQAAAAAABgASAF4AAQAAAAAACgA0AMYAAwABBAkAAQAkAAAAAwABBAkAAgAOAJQAAwABBAkAAwAkADoAAwABBAkABAAkAKIAAwABBAkABQAWACQAAwABBAkABgAkAHAAAwABBAkACgA0AMYAYwBvAGQAaQBuAGcAXwBoAG8AbQBlAF8AbQBvAGIAaQBsAGUAVgBlAHIAcwBpAG8AbgAgADEALgAwAGMAbwBkAGkAbgBnAF8AaABvAG0AZQBfAG0AbwBiAGkAbABlY29kaW5nX2hvbWVfbW9iaWxlAGMAbwBkAGkAbgBnAF8AaABvAG0AZQBfAG0AbwBiAGkAbABlAFIAZQBnAHUAbABhAHIAYwBvAGQAaQBuAGcAXwBoAG8AbQBlAF8AbQBvAGIAaQBsAGUARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=) format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 10, home.scss */
.icon {
  font-family: 'CodingHome';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 22, home.scss */
.icon.logo:before {
  content: "\e608";
}

/* line 26, home.scss */
.icon.simpler:before {
  content: "\e60f";
}

/* line 30, home.scss */
.icon.collaboration:before {
  content: "\e605";
}

/* line 34, home.scss */
.icon.git:before {
  content: "\e607";
}

/* line 38, home.scss */
.icon.ide:before {
  content: "\e613";
}

/* line 42, home.scss */
.icon.terminal:before {
  content: "\e612";
}

/* line 46, home.scss */
.icon.play:before {
  content: "\e60c";
}

/* line 50, home.scss */
.icon.desktop:before {
  content: "\e600";
}

/* line 61, home.scss */
html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

/* line 70, home.scss */
html, body, input, textarea {
  font-family: '微软雅黑', 'Helvetica Neue', sans-serif, SimHei;
  -webkit-font-smoothing: antialiased;
  font-size: 10px;
  color: #323A45;
}

/* line 77, home.scss */
body {
  box-sizing: border-box;
  background-color: #fff;
  line-height: 1.42857143;
}

/* line 83, home.scss */
html {
  -webkit-tap-highlight-color: transparent;
}

/* line 87, home.scss */
a {
  color: #323A45;
  text-decoration: none;
}
/* line 91, home.scss */
a.blue {
  color: #5191BD;
}

/* line 96, home.scss */
.center {
  text-align: center;
}

/* line 176, home.scss */
.banner {
  position: relative;
  top: 8px;
  left: 7px;
}

/* line 182, home.scss */
#first-page {
  font-size: 1.4rem;
  text-align: center;
  position: relative;
  padding: 0;
  margin-top: 57px;
}
/* line 189, home.scss */
#first-page h1 {
  font-size: 3rem;
  padding: 34px 0 24px 0;
}
/* line 193, home.scss */
#first-page h1 .icon {
  font-size: 3.5rem;
}
/* line 198, home.scss */
#first-page h2 {
  font-size: 2.25rem;
}
/* line 201, home.scss */
#first-page h2 .icon {
  font-size: 2.2rem;
}
/* line 206, home.scss */
#first-page div.button-group {
  margin-top: 5.2rem;
}
/* line 210, home.scss */
#first-page a.button {
  font-size: 1.5rem;
  padding: 0 3.2rem;
  text-transform: none;
  line-height: 3rem;
  height: 3rem;
  border-radius: 2rem;
  display: inline-block;
  margin: 0 1.0rem;
}
/* line 221, home.scss */
#first-page a.login {
  background: #323A45;
  color: #fff;
}
/* line 226, home.scss */
#first-page a.register {
  background: #fff;
  color: #323A45;
  box-shadow: rgba(50, 58, 69, 0.4) 0px 0px 0px 1px inset;
}
/* line 232, home.scss */
#first-page a.show-video {
  font-size: 1.7rem;
  opacity: .7;
}
/* line 237, home.scss */
#first-page ul.services {
  display: inline-block;
  margin: 70px 0 0 0;
  padding: 0px;
}
/* line 242, home.scss */
#first-page ul.services li {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  float: left;
  position: relative;
}
/* line 249, home.scss */
#first-page ul.services li:last-child:after {
  border-right: none;
}
/* line 253, home.scss */
#first-page ul.services li:after {
  content: '';
  height: 70%;
  border-right: 1px dotted #BBB;
  position: absolute;
  right: 0;
  top: 7px;
}
/* line 262, home.scss */
#first-page ul.services li p {
  margin-top: 5px;
}

/* line 269, home.scss */
.go-desktop {
  margin-top: 1.6rem;
  text-align: center;
  width: 100%;
}
/* line 274, home.scss */
.go-desktop a {
  font-size: 1.4rem;
}

/* line 280, home.scss */
.icon.big {
  font-size: 2.1rem;
}

/* line 286, home.scss */
.modal {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.9);
  display: table;
  visibility: hidden;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 300, home.scss */
.modal > a.close {
  background: url("/images/close.svg") no-repeat center;
  position: fixed;
  top: 27px;
  right: 27px;
  opacity: 0.3;
  cursor: pointer;
  display: block;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0);
  -webkit-transition: 0.5s cubic-bezier(0.27, 1.64, 0.32, 0.95);
  -moz-transition: 0.5s cubic-bezier(0.27, 1.64, 0.32, 0.95);
  -ms-transition: 0.5s cubic-bezier(0.27, 1.64, 0.32, 0.95);
  -o-transition: 0.5s cubic-bezier(0.27, 1.64, 0.32, 0.95);
  transition: 0.5s cubic-bezier(0.27, 1.64, 0.32, 0.95);
  z-index: 10000;
}

/* line 320, home.scss */
.modal > a.close:hover {
  opacity: 1;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  border-radius: 50%;
  border-color: rgba(255, 255, 255, 0.3);
}

/* line 329, home.scss */
.modal > .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
