<div class="row activate">
    <div class="col-xs-12 slogon">
        <h2>加入Coding，体验云端开发之美！</h2>
    </div>
    <form class="activate">
        <div class="form-group">
            <label class="label-email" for="email">电子邮件</label>
            <input type="email" class="form-control input-right" name="email" id="email" placeholder="">
        </div>
        <div class="form-group" id="div-captcha">
            <label class="label-captcha" for="captcha">验证码</label>
            <input type="text" class="form-control input-right" name="j_captcha" id="captcha" placeholder="">
            <img class="captcha" height="30" src="https://coding.net/api/getCaptcha">
        </div>
        <button type="submit" class="btn btn-activate" disabled="disabled">重发激活邮件</button>
    </form>
</div>
