<div class="row login">
    <div class="col-xs-12">
        <img src="/images/icons/login_logo.png" class="login" height="77" width="77" />
    </div>
    <form id="login_form" class="login login-inputs">
        <div class="form-group login-input">
            <input type="text" class="form-control input-right input-email" name="email" id='email' placeholder="电子邮件/个性后缀">
            <span class="btn-clear x-email">&nbsp;</span>
        </div>
        <div class="form-group login-input">
            <input type="password" class="form-control input-right input-password" name="password" id="password" placeholder="密码">
            <span class="btn-clear x-password">&nbsp;</span>
        </div>
        <button type="submit" class="btn btn-login" disabled="disabled">登录</button>
    </form>

<!--     <form id="two_factor_auth_form" style="display:none" class="login login-inputs">
        <div class="form-group login-input">
            <label class="label-code" for="code">验证码</label>
            <input type="text" class="form-control input-right" name="code" id="code" placeholder="">
            <img class="captcha" height="30" src="https://coding.net/api/getCaptcha">
        </div>
        <button type="submit" class="btn btn-login">登录</button>
    </form> -->

    <div class="col-xs-12 link-group">
        <ul> 
            <li class='right-line'>
                <a href="/register">注册账号</a>
            </li>
            <li>
                <a id="forget-password">无法登陆</a>
            </li>
        </ul>
    </div>
</div>

<div class="login-cover">
</div>
<div class="list-group login-controls">
  <a href="/resetPassword" class="list-group-item resetPassword">找回密码</a>
  <a href="/user/activate" class="list-group-item activate">重发激活邮件</a>

  <button class="list-group-item cancel">取消</button>
</div>