<div class="m-l-n m-r-n">
	<div id="tcontainer">
	</div>
	<div class="m-t p-sm bg-white red text-center text-md" style="color:red;display:none;" id="delete_task">
		删除任务
	</div>
</div>

<div id="priority_container" class="p-sm v-box popup-container" style="display:none;" >
	<div class=" content" style="width:100%;;background-color:rgba(255,255,255,0.94)" id="priority_list"></div>
</div>
<div id="member_container" class="p-sm v-box popup-container" style="display:none;">
	<div class=" content" style="width:100%;max-height:70%;overflow-y:auto;background-color:rgba(255,255,255,0.94)" id="member_list"></div>
</div>
<div id="status_container" class="p-sm v-box popup-container" style="display:none;">
	<div class=" content" style="width:100%;max-height:70%;overflow-y:auto;background-color:rgba(255,255,255,0.94)" id="status_list">
		<div class="b-b b-light p-sm status-item" data-update-key="status" data-update-value="1">
			未完成
		</div>
		<div class="b-b b-light p-sm status-item" data-update-key="status" data-update-value="2">
			已完成
		</div>
	</div>
</div>
<div id="deadline_container" class="p-sm v-box popup-container" style="display:none;">
	<div class="bg-white p-sm p-b-none content text-center" style="width:100%;max-height:70%;overflow-y:auto;;background-color:rgba(255,255,255,0.94)" id="deadline_list">
		<div class="row p-sm text-primary b-b b-primary text-lg" id='dp_display'></div>
		<div class="row p-t p-b-sm text-light">
			<div class="col-xs-2"></div>
			<div class="col-xs-2 dp_arrow" data-step="1" data-target="years"><i class="glyphicon glyphicon-chevron-up"></i></div>
			<div class="col-xs-1"></div>
			<div class="col-xs-2 dp_arrow" data-step="1" data-target="months"><i class="glyphicon glyphicon-chevron-up"></i></div>
			<div class="col-xs-1"></div>
			<div class="col-xs-2 dp_arrow" data-step="1" data-target="days"><i class="glyphicon glyphicon-chevron-up"></i></div>
			<div class="col-xs-2"></div>
		</div>
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-2 p-sm b-t b-b b-primary"  id="dp_year"> </div>
			<div class="col-xs-1"></div>
			<div class="col-xs-2 p-sm b-t b-b b-primary"  id="dp_month"> </div>
			<div class="col-xs-1"></div>
			<div class="col-xs-2  p-sm b-t b-b b-primary"  id="dp_date"> </div>
			<div class="col-xs-2"></div>
		</div>
		<div class="row  p-t-sm p-b b-b b-light  text-light">
			<div class="col-xs-2"></div>
			<div class="col-xs-2 dp_arrow" data-step="-1" data-target="years"><i class="glyphicon glyphicon-chevron-down"></i></div>
			<div class="col-xs-1"></div>
			<div class="col-xs-2 dp_arrow" data-step="-1" data-target="months"><i class="glyphicon glyphicon-chevron-down"></i></div>
			<div class="col-xs-1"></div>
			<div class="col-xs-2 dp_arrow" data-step="-1" data-target="days"><i class="glyphicon glyphicon-chevron-down"></i></div>
			<div class="col-xs-2"></div>
		</div>
		<div class="row">
			<div class="col-xs-4 p-b-sm p-t-sm b-r b-light" id="dp_cancel">取消</div>
			<div class="col-xs-4  p-b-sm p-t-sm b-r b-light" id="dp_clear">清除</div>
			<div class="col-xs-4  p-b-sm p-t-sm" id="dp_ok">确定</div>
		</div>
	</div>
</div>

<script id="tpriority" type="text/template">
	{{#list}}
	<div class="b-b b-light p-sm priority-item" data-update-key="priority" data-update-value="{{level}}">
		{{#images}}
		<img src="/images/icons/{{image}}" alt="" style="width:12px;{{^isFirst}}margin-left:-11px;{{/isFirst}}" />
		{{/images}}
		<span class="text-md">{{name}}</span>
	</div>
	{{/list}}
</script>

<script id="tmember" type="text/template">
{{#list}}
<div class="b-b b-light clear p-sm member-item" data-update-key="owner_id"  data-update-value='{{user.id}}'>
	<img src="{{user.avatar}}" alt="图片" class="pull-left b-a b-light rounded" style="width:36px;height:36px;">
    <div class="clear" style="margin-left:50px;" >
		<div class="text-md text-dark m-t-xs">
			<span>{{user.name}}</span>  
			{{#isCreator}}
			<img src="/images/icons/user.png" style="width:18px;height:18px;border-radius:2px;margin-top:-2px;margin-left:6px;" />
			{{/isCreator}}
		</div>
    </div>
</div>
{{/list}}
</script>

<script id="tlist" type="text/template">
	<div class="bg-white p ">
		<div class="text-lg" >{{content}}</div>
		<div class="m-t text-sm text-light b-b b-light m-b-xs">{{creator.name}} 创建于 {{display}}</div>
		<div class="p-t-sm text-md clear">
			<a class="text-dark clear" href="{{projectHomeURL}}/task/{{id}}/description">
				<div class="pull-left">查看描述</div>
				<div class="pull-right text-light text-md"> <i class="text-sm glyphicon glyphicon-chevron-right"></i></div>
			</a>
		</div>
	</div>
<div class="bg-white m-t p p-t-none p-b-none">
	<div class="p-t-sm p-b-sm b-b b-light text-md" id="task_owner">
		执行者
		<span class="pull-right text-light">{{owner.name}} <i class="text-sm glyphicon glyphicon-chevron-right"></i></span>
	</div>
	<div class="p-t-sm p-b-sm b-b b-light text-md" id="task_priority">
		优先级
		<span class="pull-right text-light">{{priority_display}} <i class="text-sm glyphicon glyphicon-chevron-right"></i></span>
	</div>	
	<div class="p-t-sm p-b-sm b-b b-light text-md" id="task_deadline">
		截止日期
		<span class="pull-right text-light">{{deadline}} <i class="text-sm glyphicon glyphicon-chevron-right"></i></span>
	</div>		
	<div class="p-t-sm p-b-sm text-md " id="task_status">
		阶段
		<span class="pull-right text-light">{{status_display}} <i class="text-sm glyphicon glyphicon-chevron-right"></i></span>
	</div>		
</div>

</script>

