
<div class="bg-white  shadow-default">
	<div id="tcontainer">
	</div>
</div>
<div class="row m-t">
   <div class="col-md-12">
       <button type="button" id="load_more" class="btn btn-default btn-block">加载更多</button>
   </div>
</div>

<script id="tlist" type="text/template">
{{#list}}
<div class="b-b b-light">
	<a class="clear p-sm" href="{{projectHomeURL}}/attachment/{{file_id}}">
		<img src="/images/icons/folder{{#isDefault}}_default{{/isDefault}}.png" alt="图片" class="pull-left m-t-xs" style="width:45px;height:45px;">
	    <div class="clear" style="margin-left:60px;" >
			<div class="text-md text-dark-dk m-t">
				<span>{{name}}</span>
				<span class="text-light pull-right">{{file_count}}</span>
			</div>
	    </div>
	</a>
</div>
{{/list}}
</script>

<script id="tlistfile" type="text/template">
{{#list}}
{{#isImage}}
<div class="b-b b-light  p-sm clear">
	<a class="clear pull-left" href="{{preview}}">
		<img src="{{preview}}" alt="图片" class="pull-left b-a b-light m-t-xs" style="width:45px;height:45px;">
	    <div class="clear" style="margin-left:60px;" >
			<div class="text-md text-dark-dk">
				<span>{{name}}</span>
			</div>
			<div class="text-sm text-light" style="margin-top:;">{{size_display}}</div>
			<div class="text-sm text-light m-t-xs">{{display}}</div>
	    </div>
	</a>
    <a class="clear pull-right btn btn-success" href="{{download_url}}" style="margin-top:15px">下载</a>
</div>
{{/isImage}}
{{^isImage}}
<div class="b-b b-light p-sm clear">
	<div class="clear pull-left" onclick="javascript:alert('还不能预览呢~');">
		<div class="text-white m-t-xs file-icon {{fileType}}">{{fileType}}</div>
		<div class="clear" style="margin-left:60px;">
			<div class="text-md text-dark">
				<span>{{name}}</span>
			</div>
			<div class="text-sm text-light" style="margin-top:;">{{size_display}}</div>
			<div class="text-sm text-light m-t-xs">{{display}}</div>
		</div>
	</div>
    <a class="clear pull-right btn btn-success" href="{{download_url}}" style="margin-top:15px">下载</a>
</div>
{{/isImage}}
{{/list}}
</script>
