
<div class="bg-white p-sm">
	<div class="m-t-sm m-b">
		<select class="form-control status">
		    <option value="open">未处理</option>
		    <option value="closed">已处理</option>
		    <option value="all">全部</option>
		</select>
	</div>

</div>
<div class="bg-white m-t-sm m-b-sm">
	<div id="tcontainer">
	</div>
</div>

<script id="tlist" type="text/template">
{{#list}}
	<div class="p-sm {{^isFirst}} b-t b-light{{/isFirst}}">
		<div>
			<h6 class="text-primary text-md">{{iid}} {{title}}</h6>
		</div>
		<div class="p-t-xs p-b-xs">
			{{source_owner_name}}:{{srcBranch}} -> {{ownerName}}:{{desBranch}}
			{{#isAccepted}}
			<span class="label label-warning">已合并</span>
			{{/isAccepted}}
			{{#isRefused}}
			<span class="label label-warning">已拒绝</span>
			{{/isRefused}}
			{{#isCannotMerge}}
			<span class="label label-info">不可合并</span>
			{{/isCannotMerge}}
			{{#isOpen}}
			<span class="label label-success">未处理</span>
			{{/isOpen}}
		</div>
		<div class="text-xs text-light">{{author.name}} 创建于 {{display}}</div>
	</div>
{{/list}}
</script>

<script id="theader" type="text/template">
<div class="row project_header">
{{#list}}
	<div class="col-xs-4 {{#active}}active{{/active}}">
		<a href="{{href}}">{{name}}</a>
	</div>
{{/list}}
</div>
</script>