<!-- 保证样式文件不会和其他地方冲突 -->
<div class="pp-container">
    <div include="/views/pp_input.html" loaded-msg="input-modal-ready"></div>

    <div class="row" id="pp_add">
        <div class="input-group">
            <input type="text" class="form-control" disabled placeholder="来，冒个泡吧 ...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </span>
        </div><!-- /input-group -->
    </div>
    <div class="list-group" id="pp_list">
    </div>
    <div class="row">
        <button type="button" id="load_more" class="btn btn-default btn-block">更多泡泡</button>
    </div>

    <div include="/views/pp_iphoneAddtoDesk.html"></div>
</div><!-- // pp-container -->
