<div class="row">
    <div class="col-md-12">
        <button type="button" id="refresh" class="btn btn-default btn-block"><span class="glyphicon glyphicon-refresh"> 刷新 </span></button>
    </div>
</div>
<br />
<div class="list-group" id="pp_list">
    <div class="detailBox">
        <div class="titleBox">
            <div class="commenterImage">
                <a href="#"><img src="images/icons/scenery-20.png" height="30" width="30" /></a>
            </div>
            <a href="#"><label>Node-20</label></a>
            <!--this would only be shown if this comment belongs to current user-->
            <a class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
            <a href="#" class="pull-right star">
                <span class="glyphicon glyphicon-heart">3</span>
            </a>
            <a href="#" class="pull-right comment">
                <span class="glyphicon glyphicon-comment">0</span>
            </a>
        </div>
        <div class="commentBox">
            <p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="actionBox">
            <ul class="commentList">
                <li>
                    <div class="commenterImage">
                        <img src="http://lorempixel.com/50/50/people/6" />
                    </div>
                    <div class="commentText">
                        <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                    </div>
                </li>
                <li>
                    <div class="commenterImage">
                        <img src="http://lorempixel.com/50/50/people/7" />
                    </div>
                    <div class="commentText">
                        <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>

                    </div>
                </li>
                <li>
                    <div class="commenterImage">
                        <img src="http://lorempixel.com/50/50/people/9" />
                    </div>
                    <div class="commentText">
                        <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                    </div>
                </li>
            </ul>
            <form class="form-inline" role="form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="在此输入评论内容">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-arrow-right"></span></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="button" id="load_more" class="btn btn-default btn-block">更多泡泡</button>
    </div>
</div>
