<!-- 提示小工具 -->
<div id="Iphone_add_to_desk_guide" style="position: fixed; bottom: 10px; left: 50%; margin-left: -5px; width: 10px; height: 10px; z-index: 10000000;">
    <script>
        //只有在 Iphone 自带浏览器中打开下才显示一次，其他浏览器可能会伪装成 Iphone，也要排除
        (
            !/iPhone/.test(navigator.userAgent)
            || localStorage.Iphone_add_to_desk_guide_closed_once
            || /XiaoMi|QQBrowser|MicroMessenger/.test(navigator.userAgent)
        )
        && $('#Iphone_add_to_desk_guide').addClass('hide');
    </script>
    <div style="position:absolute;bottom:0;left:50%;margin-left:-85px;">
        <div class="arr" style="left:50%;margin-left:-7px; bottom:-6px; position: absolute; width:14px; height: 6px; overflow: hidden; padding: 2px;">
            <i style="position:absolute; top:-5px; display:block; background: rgba(0,0,0,.75); width:9px; height: 9px;-webkit-transform:rotate(45deg);">
            </i>
        </div>
        <div style="width:160px; text-align: center; line-height: 1.5; font-weight: bold;  color:#fff; padding:8px 5px; border-radius: 5px; background: rgba(0,0,0,.75); font-size:14px;">
            添加到主屏幕<br>
            访问Coding更方便~
        </div>
        <img style="width:20px; height:20px; line-height:22px; position: absolute; top:-10px; right:-11px;" src="/images/pp/addtodesk_x.png"
        onclick="localStorage.Iphone_add_to_desk_guide_closed_once='true';window.Iphone_add_to_desk_guide && Iphone_add_to_desk_guide.parentElement.removeChild(Iphone_add_to_desk_guide);"
        ontouchend="localStorage.Iphone_add_to_desk_guide_closed_once='true';window.Iphone_add_to_desk_guide && Iphone_add_to_desk_guide.parentElement.removeChild(Iphone_add_to_desk_guide);">
    </div>
</div><!-- // #Iphone_add_to_desk_guide -->