<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="user-heading">
            <h4 class="panel-title">
                <img src="#" height="25" width="25" />
                <a class="panel-title" data-toggle="collapse" href="#accordion" data-target="#user-details" aria-expanded="true" aria-controls="user-details">
                    User name
                </a>
                <!--<a href="#" class="pull-right watched"> 11关注 </a>-->
                <!--<a href="#" class="pull-right followed"> 17粉丝 </a>-->

            </h4>
        </div>
        <div id="user-details" class="panel-collapse collapse" role="tabpanel" aria-labelledby="user-heading">
            <div class="panel-body text-center">
                <p>
                    <span class="description" ></span>
                </p>
                <p>
                    <button type="button" class="btn btn-primary">关注</button>
                    <button type="button" class="btn btn-default">给TA私信</button>
                </p>
                <table class="table">
                    <tr>
                        <td>加入时间</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>最后活动</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>个性后缀</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>性别</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>工作</td>
                        <td></td>
                     </tr>
                    <tr>
                        <td>地区</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>个人标签</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="detailBox">
    <div class="titleBox">
        <div class="commenterImage">
            <a href="#"><img src="#" height="30" width="30" /></a>
            </div>
        <a class="commenterName" href="#"><label></label></a>
        <!--this would only be shown if this comment belongs to current user-->
        <a href="#" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <a href="#" class="pull-right star">
            <span class="glyphicon glyphicon-heart"></span>
            </a>
        <a href="#" class="pull-right comment">
            <span class="glyphicon glyphicon-comment"></span>
            </a>

        <div class="row">
            <div class="col-sm-12 like_users">
                </div>
            </div>

        </div>
    <div class="commentBox">
        <p class="taskDescription"></p>
        </div>
    <div class="actionBox">
        <ul class="commentList">
            </ul>
        <form class="form-inline commentSubmit" role="form">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="在此输入评论内容">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-arrow-right"></span></button>
                </span>
            </div>
        </form>
    </div>
</div>
