<!-- 提示小工具 -->
<div id="Iphone_add_to_desk_guide" style="position: fixed; bottom: 10px; left: 50%; margin-left: -5px; width: 10px; height: 10px; z-index: 10000000;">
    <script>
        //只有在 Iphone 自带浏览器中打开下才显示一次，其他浏览器可能会伪装成 Iphone，也要排除
        (
            !/iPhone/.test(navigator.userAgent)
            || localStorage.Iphone_add_to_desk_guide_closed_once
            || /XiaoMi|QQBrowser|MicroMessenger/.test(navigator.userAgent)
        )
        && $('#Iphone_add_to_desk_guide').addClass('hide');
    </script>
    <div style="position:absolute;bottom:0;left:50%;margin-left:-85px;">
        <div class="arr" style="left:50%;margin-left:-7px; bottom:-6px; position: absolute; width:14px; height: 6px; overflow: hidden; padding: 2px;">
            <i style="position:absolute; top:-5px; display:block; background: rgba(0,0,0,.75); width:9px; height: 9px;-webkit-transform:rotate(45deg);">
            </i>
        </div>
        <div style="width:160px; text-align: center; line-height: 1.5; font-weight: bold;  color:#fff; padding:8px 5px; border-radius: 5px; background: rgba(0,0,0,.75); font-size:14px;">
            添加到主屏幕<br>
            访问Coding更方便~
        </div>
        <i 
            style="width:20px; height:20px; color:transparent; font-size:18px; border-radius:15px; line-height:22px; border:2px solid rgba(255,255,255,.9); background-color: #333; position: absolute; top:-6px; right:-6px; overflow:hidden;" 

            onclick="localStorage.Iphone_add_to_desk_guide_closed_once='true'; Iphone_add_to_desk_guide.parentElement.removeChild(Iphone_add_to_desk_guide);">

            <svg version="1.1" id="图形" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="70%" height="70%" viewBox="0 0 1024 1024" enable-background="new 0 0 1024 1024" xml:space="preserve" style="position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;">
                <path fill="#b3b3b3" d="M82.496-9.28 821.232 729.52c19.008 18.992 49.76 18.992 68.72 0l51.584-51.536c18.96-18.992 18.96-49.76 0-68.736L202.768-129.536c-18.976-18.976-49.744-18.976-68.72 0l-51.552 51.568C63.52-59.008 63.52-28.208 82.496-9.28zM202.768 729.52 941.536-9.28c18.96-18.928 18.96-49.712 0-68.688l-51.584-51.568c-18.96-18.976-49.712-18.976-68.72 0L82.496 609.264c-18.976 18.976-18.976 49.744 0 68.736l51.552 51.536C153.008 748.512 183.792 748.512 202.768 729.52z" transform="translate(0, 812) scale(1, -1)"/>
            </svg>
        </i>  
    </div>
</div><!-- // #Iphone_add_to_desk_guide -->