<!-- Modal : input -->
<!-- 可调用的 Modal 组件 -->

<div class="modal fade" id="pp_input" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="pp_form">
                <div class="modal-header">
                    <a class="pull-left" id="pp_cancel" data-dismiss="modal" aria-label="Close">取消</a>
                    <button type="submit" class="btn btn-success pull-right" disabled id="pp_submit">发表</button>
                    <h4 class="modal-title text-center" id="myModalLabel">发冒泡</h4>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" id="pp_content" rows="5" placeholder="来，冒个泡吧..."></textarea>
                </div>

                <!-- 内容辅助工具面板: @好友，添加表情... -->
                <div class="input-tool" id="input_tool">
                    <i class="icon-at"></i>
                    <i class="icon-emoji"></i>
                    <i class="icon-keyboard"></i>
                    <div class="imageboard" id="image_board">
                        <div class="image add-image icon icon-plus" id="pp_image"></div>
                        <p class="image-tip">最多可以上传6张图片~</p>
                        <div class="location hide" id="pp_location">
                            <span class="icon icon-location"></span>
                            <span id="location_name">显示地理位置</span>
                            <span class="icon icon-right"></span>
                        </div>
                    </div>
                    <div class="emojiboard chose-emojis" id="emoji_board">
                        <div class="emoji-body">
                            <div class="slide" id="slide_emojis">
                                <ul class="emoji-emojis">
                                </ul>
                                <div class="dot">
                                </div>
                            </div>
                            <div class="slide" id="slide_monkeys">
                                <ul class="emoji-monkeys">
                                </ul>
                                <div class="dot">
                                </div>
                            </div>
                        </div>
                        <div class="toggle-emoji">
                            <span class="emojis"><i class="icon icon-emojihead"></i>经典表情</span>
                            <span class="monkeys"><i class="icon icon-monkeyhead"></i>洋葱猴</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- at好友独立的页面面板 -->
        <div class="pp-at">
            <div class="list-header">
                <span class="cancel" id="cancel_at">取消</span>
            </div>
            <div class="search-wrap">
                <input id="friend_search" placeholder="姓名/个性后缀">
            </div>
            <ul class="at-list" id="friends_list">
            </ul>
        </div>

        <!-- at地理位置独立的页面面板 -->
        <div class="pp-location">
            <div class="list-header">
                <span class="cancel" id="cancel_location">取消</span>
            </div>
            <img id="location_image">
            <ul class="location-list" id="location_list">
            </ul>
        </div>
    </div>
</div>