<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" id="topic_item">
            <div class="panel-heading title">
                <img src="#" height="40" width="40" >
                <div>
                    <strong></strong>
                    <br />
                    <b></b><span></span><span></span>
                </div>
            </div>
            <div class="panel-body">
                <p></p>
                <br />
                <h6>评论</h6>
                <li class="divider"></li>
                <!-- List group -->
                <ul class="list-group commentList" id="comments_list" style="margin-top: 20px; margin-bottom: 0">
                </ul>
                <form class="form-inline commentSubmit" role="form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="在此输入评论内容">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-arrow-right"></span></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
