<div class="row">
    <div class="col-sm-12">
        <div class="well-sm">NodeJS + 2048 + MySQL</div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <img src="/images/icons/scenery-20.png" width="15" height="15">
        <h4 class="panel-title">Demo</h4>
        <span class="comment-meta">两天前</span>
    </div>
    <div class="panel-body text-center">
        <a href="#" class="glyphicon glyphicon-folder-close"> 查看代码 </a>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
       <span class="glyphicon glyphicon-book"> README.markdown </span>
    </div>
    <div class="panel-body text-center">

    </div>
</div>
