<div class="row">
    <div class="col-sm-12">
        <span id="project_owner">
        </span>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="well-sm" id="project_description"></div>
        <span class="comment-hash pull-right"></span>
    </div>
</div>
<div class="panel panel-default" id="project_code">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    </div>
    <div class="panel-body text-center">
        <!--<a href="#" class="glyphicon glyphicon-folder-close"> 查看代码 </a>-->
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    </div>
</div>
<div class="panel panel-default" id="project_readme">
    <div class="panel-heading">
       <span class="panel-title glyphicon glyphicon-book"> README.markdown </span>
    </div>
    <div class="panel-body text-center">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    </div>
</div>
