<div class="row">
    <div class="col-sm-12">
        <span id="project_owner">
        </span>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="well-sm" id="project_description"></div>
    </div>
</div>
<div class="panel panel-default" id="project_code">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        <!--<span class="panel-title"><img src="/images/icons/scenery-20.png" height="20" width="20"> Demo </span>-->
        <!--<span class="comment-meta">两天前</span>-->
        <!--<span class="comment-hash">d0a1c7bb16</span>-->
    </div>
    <div class="panel-body text-center">
        <!--<a href="#" class="glyphicon glyphicon-folder-close"> 查看代码 </a>-->
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
       <span class="panel-title glyphicon glyphicon-book"> README.markdown </span>
    </div>
    <div class="panel-body text-center">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    </div>
</div>
