<div class="row register">
    <div class="col-xs-12">
        <h2>加入Coding，体验云端开发之美！</h2>
    </div>
    <form class="register">
        <div class="form-group">
            <label class="label-email" for="email">电子邮件</label>
            <input type="email" class="form-control input-right" name="email" id="email" placeholder="">
        </div>
        <div class="form-group">
            <label class="label-global_key" for="global_key">个性后缀(用户名)</label>
            <input type="text" class="form-control input-right" name="global_key" id="global_key" placeholder="">
        </div>
        <button type="submit" class="btn btn-register" disabled="disabled">立即体验</button>
    </form>
    <div class="col-xs-12 link-group">
        <ul> 
            <li>
                已经注册？<a href="javascript:void(0);">重发激活邮件</a>
            </li>
        </ul>
    </div>
</div>
