<div class="row register">
    <div class="col-xs-12">
        <img src="/images/icons/login_logo.png" class="register" height="100" width="100" />
    </div>
    <form class="register">
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="电子邮件">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="global_key" placeholder="个性后缀(用户名)">
        </div>
        <button type="submit" class="btn btn-success">注册</button>
    </form>
</div>
