<div class="row resetPassword">
    <div class="col-xs-12 slogon">
        <h2>加入 Coding，体验云端开发之美！</h2>
    </div>
</div>

<template id="resetPassword-template">
    <form id="resetPassword" class="resetPassword">
        <div class="form-group">
            <input type="email" class="form-control input-right" name="email" id="email" placeholder="电子邮件">
            <span class="btn-clear x-email">&nbsp;</span>
        </div>
        <div class="form-group" id="div-captcha">
            <input type="text" class="form-control input-right" name="j_captcha" id="captcha" placeholder="验证码">
            <span class="btn-clear x-j_captcha">&nbsp;</span>
            <img class="captcha" height="30" src="https://coding.net/api/getCaptcha">
        </div>
        <button type="submit" class="btn btn-resetPassword" disabled="disabled">发送重置密码邮件</button>
    </form>
</template>
<template id="userResetPassword-template">
    <form id="userResetPassword" class="resetPassword">
        <div class="form-group">
            <input type="email" class="form-control input-right show-input-email" id="email" placeholder="电子邮件" disabled="disabled">
        </div>
        <input type="hidden" name="email" id="email_hidden" placeholder="">
        <input type="hidden" name="key" id="key" placeholder="">
        <div class="form-group">
            <input type="password" class="form-control input-right" name="password" id="password" placeholder="新密码">
            <span class="btn-clear x-password">&nbsp;</span>
        </div>
        <div class="form-group">
            <input type="password" class="form-control input-right" name="confirm_password" id="confirm-password" placeholder="确认密码">
            <span class="btn-clear x-confirm_password">&nbsp;</span>
        </div>
        <button type="submit" class="btn btn-resetPassword" disabled="disabled">确定</button>
    </form>
</template>