<!--<div class="well project_banner">-->
<!--<img src="/images/icons/pic_projects_banner.png" height="100" width="100"
/>
-->
<!--<p class="pull-right title">-->
<!--<strong>精彩项目</strong>-->
<!--</p>-->
<!--</div>-->
<div class="user-back-pro">
    <div class="list-group userproject border-color" id="projects_list" style="border-radius: 0px;">
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" id="load_more" class="btn btn-default btn-block">
                更多项目
            </button>
        </div>
    </div>
</div>
<div style="display:none" id='user-right'>
    <img src="/images/icons/user_right.png" width="24" class="pull-right public-right"
    />
</div>
<div style="display:none" id='user-fork'>
    <img src="/images/icons/fork.png" width="13" class="fork-img" />
</div>