<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="user-heading">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </div>
        <div id="user-details" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="user-heading">
            <div class="panel-body text-center">
            </div>
        </div>
    </div>
</div>
