<div class="panel-group user" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="back-gray user-back">
        <!--<div class="panel-heading" role="tab" id="user-heading">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </div>-->
        <div id="user-details" class="panel-collapse collapse in" role="tabpanel"
        aria-labelledby="user-heading">
            <div class="user-content" style="width:100%">
            </div>
            <div class="user-mylogout">
            </div>
        </div>
    </div>
</div>
<div class="addfriend" style="display:none">
    <a href="/social/search/addfriend">
        <img src="/images/icons/addfriend.png" class="pull-right adds" width="24"
        height="24" style="position: relative; top: 16px;right:15px;" />
    </a>
</div>
<div style="display:none" id='user-woman'>
    <img width="18" src="/images/icons/woman.png" class="user-people" />
</div>
<div style="display:none" id='user-man'>
    <img width="18" src="/images/icons/man.png" class="user-people" />
</div>
<div style="display:none" id='user-right'>
    <img src="/images/icons/user_right.png" width="22" style="margin-right:9px;"
    />
</div>
<div style="display:none" id='user-right1'>
    <img src="/images/icons/user_right.png" width="22" />
</div>
<div id="fans-concerned" style="display:none">
    <img src="/images/icons/concerned.png" width="72" height="32" class="fans_icon"
    id="watched" />
</div>
<div id="fans-eachconcerned" style="display:none">
    <img src="/images/icons/eachconcerned.png" width="72" height="32" class="fans_icon"
    id="watched" />
</div>
<div id="fans-watched" style="display:none">
    <img src="/images/icons/watched.png" width="72" height="32" class="fans_icon"
    id="watched" />
</div>